@media (min-width: 991.98px) {
  .main-panel{
      padding-left: 240px !important;
    }
  }
@media (min-width:990px){
  .table td,th{
    min-width: 100px !important;
  }
  /* .row{
    overflow-y: hidden !important;
  } */

  /* overflow-x: auto;
  -webkit-overflow-scrolling: touch;
} */

.table-responsive{
overflow-x: auto !important;
-webkit-overflow-scrolling: touch !important;
scrollbar-width:none;
scrollbar-color: #888888 #f5f5f5;

}
}
  @media (max-width: 990px) {
    #sidebarMenu {
      display: none !important;
    }
  }


 /* .card{
    min-width:500px !important;
 }  */

 .img-sm{
  width: 30px;
  height: 30px;
 }