.text-danger{
    position:  relative !important;
    top: -25px !important;
    left: 10px !important



}

.body{
    background-image: url("../../../assets/loginbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-top-width: 0 !important;
    border-bottom-width: 2px solid #ffffff !important;
}  */


.form-label {
    color: #ffffff !important;
    border: #f8432f !important;
  }
.nav-link.active{
    background-color: #f8432f !important;
    color: #ffffff !important;
   
}

input[type="checkbox"]{
    background-color: #f8432f !important;
    color: #ffffff !important;
    border:2px solid #ff5353 !important;
}
/* 
input[type="text"]:focus{
    background-color: #f8432f !important;
    color: #ffffff !important;
    border:2px solid #ff5353 !important;
} */
/* input[type="text"]{
    border: none !important;
    color: #ffffff !important;
    border:1px solid #ffffff !important;

} */