<!-- Pills navs -->
 <div style="width: 100%;height: 100%; top: 0; padding-top: 10%; padding-bottom: 10%; " class="body ">
<div style="width: 600px; display: flex; flex-direction: column;margin: 0 auto;  background:transparent ; backdrop-filter: blur(20px); padding: 10px; border-radius: 5px; ">
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-login" data-mdb-pill-init href="#pills-login" role="tab"
        aria-controls="pills-login" aria-selected="true" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register" data-mdb-pill-init href="#pills-register" role="tab"
        aria-controls="pills-register" aria-selected="false" routerLink="/register">Register</a>
    </li>
  </ul>
  <!-- Pills navs -->

  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form [formGroup]="loginForm">
        <div class="text-center mb-3">
          <p>Sign in with:</p>
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f" style="color: rgb(248, 38, 38);"></i>
          </button>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google" style="color: rgb(248, 38, 38);"></i>
          </button>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter" style="color: rgb(248, 38, 38);"></i>
          </button>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github" style="color: rgb(248, 38, 38);"></i>
          </button>
        </div>

        <p class="text-center">or:</p>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="loginName" class="form-control border-0" formControlName="loginName" />
          <label class="form-label " for="loginName">Email </label>

        </div>
        <small *ngIf="loginName.invalid && (loginName.dirty ||loginName.touched)" class="text-danger">
          <div *ngIf="loginName.errors?.['required']">UserName is required</div>

        </small>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="loginPassword" class="form-control border-danger" formControlName="password" />
          <label class="form-label" for="password">Password</label>
        </div>
        <small *ngIf="password.invalid && (password.dirty ||password.touched)" class="text-danger">
          <div *ngIf="password.errors?.['required']">password is required</div>

        </small>

        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
              <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked style="accent-color: red;" />
              <label class="form-check-label" for="loginCheck" style="color: #F5ECEB;"> Remember me </label>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!" style="color: rgb(255, 255, 255);">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" [disabled]="loginForm.invalid" data-mdb-button-init data-mdb-ripple-init
          class="btn btn-danger btn-block mb-4" (click)="onSubmit()">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p style="color: rgb(255, 83, 83);">Not a member? <a href="#!" routerLink="/register" style="color: white;"> Register</a></p>

        </div>
      </form>
    </div>
  </div>
  <!-- Pills content -->
</div>
</div>
<!-- <app-register></app-register> -->
 
<!-- <router-outlet></router-outlet> -->