<!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init >
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner rounded-0 shadow-4-strong">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="../../../assets/banner1.jpg" class="d-block w-100 "
        alt="Sunset Over the City" />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="../../../assets/g6.webp" class="d-block w-100 "
        alt="Canyon at Nigh" />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="../../../assets/g10.webp" class="d-block w-100"
        alt="Cliff Above a Stormy Sea" />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
<div class="container ">

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5">
  <div class="col">
    <div class="card h-100 ">
      <img src="../../../assets/process_1.jpg" class="card-img-top" alt="Skyscrapers"/>
      <div class="card-body ">
        <h5 class="card-title">User Registeration</h5>
        <p class="card-text">
          Register as a donor or recipient at our Blood Bank by filling out the registration form. Provide your details such as name, contact information, and blood type for a seamless experience. Help us save lives by becoming part of our life-saving network!
        </p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-danger" routerLink="/register" > Register </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/process_2.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">Donar Registeration</h5>
        <p class="card-text">Register as a blood donor by submitting your details through our Blood Bank registration form. Only the admin has the privilege to add donors to ensure secure and verified entries. Join us in saving lives by becoming a registered donor today</p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-danger" routerLink="/register" > Register </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/process_3.jpg" class="card-img-top" alt="Palm Springs Road"/>
      <div class="card-body">
        <h5 class="card-title">Became a donar</h5>
        <p class="card-text">
          To become a blood donor, submit your details through our Blood Bank registration form. Only the admin can add verified donors to ensure authenticity and safety. Take the first step towards saving lives by becoming a registered donor today
        </p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-danger" routerLink="/register" > Register </button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container my-5">
  <div class="row align-items-center">
      <div class="col-md-6">
          <img src="../../../assets/gallery_6.jpg" class="img-fluid" alt="Responsive Image">
      </div>
      <div class="col-md-6">
        <p style="color: rgb(255, 105, 105);">Help The People in Need</p>
          <h2>Welcome to Blood Donors Organization</h2>
          <p>
            Welcome to the Blood Donors Organization! Join us in our mission to save lives by registering as a donor. Together, we can make a difference in the lives of those in need
          </p>
          <div class="d-flex justify-content-between">
            <ul >
                <li style="list-style-type: none;"><i class="fa-solid fa-angles-right" style="color: rgb(246, 50, 50);"></i> Good Service</li>
                <li style="list-style-type: none;"><i class="fa-solid fa-angles-right" style="color: rgb(246, 50, 50);" ></i> Help People</li>
                <li style="list-style-type: none;"><i class="fa-solid fa-angles-right" style="color: rgb(246, 50, 50);"></i> Hugine Tools</li>
            </ul>
            <ul>
              <li style="list-style-type: none;"><i class="fa-solid fa-angles-right" style="color: rgb(246, 50, 50);"></i> 24h Service</li>
              <li style="list-style-type: none;"><i class="fa-solid fa-angles-right" style="color: rgb(246, 50, 50);"></i> Health Check</li>
              <li style="list-style-type: none;"><i class="fa-solid fa-angles-right" style="color: rgb(246, 50, 50);"></i> Blood Bank</li>
            </ul>
          </div>
          <div class="text-center mt-5">
            <button class="btn btn-danger">Learn More</button>
          </div>
      </div>
  </div>
</div>

<div class="container my-5">
  <div class="row align-items-center">
      <div class="col-md-6">
          <h2>Health Check</h2>
          <p>
            "Health Check: Ensuring donor safety is our priority. All registered donors undergo a thorough health screening before donation to guarantee a safe and reliable blood supply for those in need."
          </p>
          <div class="text-start mt-5">
            <button class="btn btn-danger">Learn More</button>
          </div>
      </div>
      <div class="col-md-6">
          <img src="../../../assets/gallery_7.jpg" class="img-fluid" alt="Responsive Image">
      </div>
  </div>
</div>


<!-- carsoul -->


